/* Global settings */
table {
  border-collapse: collapse;
  table-layout: auto;
}
div.header {
  position: sticky;
  background-color: #A0A0A0;
  top: 0px;
}
div.header > img {
  position: absolute;
  right:160px;
}
span.header-title {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: 100%;
}
input.hotlist-button {
  padding: 1px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
td {
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: left;
}
.hotlist-button {
  font-weight: bold;
}

/* Hidden and completed table rows */
tr.hidden {
  opacity: 20%;
}
tr.hidden .recipe-name,
tr.cooked.written .recipe-name {
  text-decoration: line-through;
}

div#loading {
  position: fixed;
  left: 40%;
  width: 0px;
  top: 0px;
  text-shadow: 0px 0px 5px #F00;
  font-weight: bold;
  top: 0px;
  z-index: 1;
}
div#loading.loading-done {
  display: none;
}

tr.starred .hotlist-button {
  text-shadow: 0px 0px 5px #0F0;
}

tr.star-view:not(.starred) {
  display:none;
}

tr.unwritten-view.written,
tr.unwritten-view:not(.cooked) {
  display:none;
}

tr.cooked.written:not(.hidden) > img {
  filter:grayscale(100%);
}

/* Fancy hilighting of the checkboxes */
.cooked-checkbox input:checked,
.cooked-checkbox input:checked + label {
  font-weight: bold;
  text-shadow: 0px 0px 5px #F00;
}
.written-checkbox input:checked,
.written-checkbox input:checked + label {
  font-weight: bold;
  text-shadow: 0px 0px 5px #08F;
}
.hidden-checkbox input:checked,
.hidden-checkbox input:checked + label {
  font-weight: bold;
  text-shadow: 0px 0px 5px #444;
}
